@import "styles/settings/__settings";

.postCard {
  color: inherit;
  text-align: left;
  text-decoration: none;
  border-bottom: 7px solid $color-gray;
  height: 100%;

  @media (min-width: 48rem) {
    border-bottom: none;
    border: 0.1rem solid $color-gray;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & > a {
    display: block;
    color: inherit;
    text-decoration: none;

    &:hover {
      h3 {
        color: $color-primary;
        text-decoration: underline;
      }
    }
  }
}

.postCardSticky {
  border: solid 0.02em $color-gray;
  border-radius: 1em;

  svg {
    position: absolute;
    top: 1.2em;
    right: 1em;
    font-size: 1.15em;
    color: $color-gray;
  }
}

.postCardTitle {
  font-family: $primary-font;
  font-weight: 700;
  color: $color-black;
  margin: 1rem 1rem;
  font-size: 1.4rem;
  line-height: 140%;
}

.postCardContent {
  font-size: 1.2rem;
  margin: 0;
  padding: 1rem 1rem;

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.postCardMetadata {
  padding: 0.5rem 0;
}

.postCardDivider {
  margin: 0 1rem;
  border-top: 1px solid $color-gray;
}
