$color-aqua: #005c72;
$color-green: #0f5937;
$color-gray: #bfbfbf;
$color-blue: #023059;
$color-black: #1d1d1b;
$color-semi-black: #333333;
$color-white: #f2f2f2;
$color-red: #d40909;

$color-primary: #d40909;
$color-margin: #eaeaea;
